
<!DOCTYPE html>
<html lang="pl">
  
<head>
  <%- include('../../partials/head', {title: 'O nas'}); %>
</head>
<body class="">

<header>
  <%- include('../../partials/header'); %>
</header>

<main>
  
</main>

<footer>
  <%- include('../../partials/footer'); %>
</footer>

</body>
</html>