
<!DOCTYPE html>
<html lang="pl">
  

<body class="">
  <head>
    <%- include('../../partials/head'); %>
  </head>
  <header>
    <%- include('../../partials/header'); %>
  </header>

  <main>
    
  </main>
  <%- include('../../partials/footer'); %><!--importing footer-->

</body>
</html>
