<style>
  nav{
    border-radius: 0 0 1em 1em;
  }
</style>

<nav class="navbar navbar-expand-lg bg-light ml-4 mr-4 d-flex flex-row ">
        <a class="navbar-brand text-dark" href="/"><i class="bi bi-house-door-fill"></i>Strona główna</a>
        <ul class="navbar-nav d-flex flex-row">
          <li class="nav-item p-2">
            <a class="nav-link text-dark" href="/about">About</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto d-flex flex-row">
          <%let state = typeof isLogging != 'undefined' ? isLogging : 0 %>
          <% if(state!=2){%>
            <li class="nav-item p-2">
              <a class="nav-link text-dark " href="/register"><i class="bi bi-key-fill"></i>Rejestracja</a>
            </li>
          <%}%>
          <% if(state!=1){%>
            <li class="nav-item p-2">
              <a class="nav-link text-dark " href="/login">
            <i class="bi bi-box-arrow-in-right"></i>Logowanie</a></li>
          <%}%> 
          
        </ul>
  </nav>